.Footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
  font-size: 14px;
}

.Footer .web {
  display: flex;
  flex-direction: column;
}

.Footer .brand {
  display: flex;
  align-items: center;
}

.Footer .title {
  background: linear-gradient(to right, #f97316, #2563eb);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-size: 1.2rem;
  color: transparent;
}

.Footer .description {
  padding: 10px 10px;
}

.service,
.client,
.request {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.service-link {
  text-decoration: none;
  color: #374151;
  font-size: 0.9rem;
}

.service-link:hover {
  text-decoration: underline;
}

.info {
  padding-top: 20px;
  margin: 20px auto;
  border-top: 1px solid #e5e7eb;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.info .images {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.text{
  line-height: 1.7;
}

.text>p {
  margin: 6px 0 0;
  display: flex;
  justify-content: center;
}

.brand {
  font-weight: 600;
  letter-spacing: .4px;
}